<style>
    .btn-wide {
        width: 100%;
    }

    .navigation {
        padding: 15px;
        display: flex;
        align-items: center;
        background: lightgrey;
    }

    .nav-title {
        vertical-align: middle;
        font-size: 2em;
    }
</style>

<nav>
    <div class="row">
        <section class="navigation">
            <section class="col-lg-4">
                <div class="nav-title">Sample Application</div>
            </section>
            <section class="col-lg-4 col-lg-offset-4">
                <section class="col-lg-6">
                    <button class="btn btn-default btn-lg btn-wide" ng-click="ctrl.previous()">Previous</button>
                </section>
                <section class="col-lg-6">
                    <button class="btn btn-default btn-lg btn-wide" ng-click="ctrl.next()">Next</button>
                </section>
            </section>
        </section>
    </div>
    <div class="row">
        <div class="wizard">
            <div class="steps" style="margin-left: 0">
                <ul>
                    <li ng-click="ctrl.current() > 0 ? ctrl.jump(0) : void(0)" ng-class="{active: ctrl.current() === 0, complete: ctrl.current() > 0}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 0, 'badge-success':ctrl.current() > 0}">&#9734</span>Start<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 1 ? ctrl.jump(1) : void(0)" ng-class="{active: ctrl.current() === 1, complete: ctrl.current() > 1}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 1, 'badge-success':ctrl.current() > 1}">1</span>Step 1<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 2 ? ctrl.jump(2) : void(0)" ng-class="{active: ctrl.current() === 2, complete: ctrl.current() > 2}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 2, 'badge-success':ctrl.current() > 2}">2</span>Step 2<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 3 ? ctrl.jump(3) : void(0)" ng-class="{active: ctrl.current() === 3, complete: ctrl.current() > 3}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 3, 'badge-success':ctrl.current() > 3}">3</span>Step 3<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 4 ? ctrl.jump(4) : void(0)" ng-class="{active: ctrl.current() === 4, complete: ctrl.current() > 4}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 4, 'badge-success':ctrl.current() > 4}">4</span>Step 4<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 5 ? ctrl.jump(5) : void(0)" ng-class="{active: ctrl.current() === 5, complete: ctrl.current() > 5}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 5, 'badge-success':ctrl.current() > 5}">5</span>Step 5<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 6 ? ctrl.jump(6) : void(0)" ng-class="{active: ctrl.current() === 6, complete: ctrl.current() > 6}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 6, 'badge-success':ctrl.current() > 6}">6</span>Step 6<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 7 ? ctrl.jump(7) : void(0)" ng-class="{active: ctrl.current() === 7, complete: ctrl.current() > 7}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 7, 'badge-success':ctrl.current() > 7}">7</span>Step 7<span class="chevron"></span></li>
                    <li ng-click="ctrl.current() > 8 ? ctrl.jump(8) : void(0)" ng-class="{active: ctrl.current() === 8, complete: ctrl.current() > 8}"><span class="badge" ng-class="{'badge-info':ctrl.current() === 8, 'badge-success':ctrl.current() > 8}">8</span>Step 8<span class="chevron"></span></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
</nav>