<div class="row" ng-controller="app.page0.Controller as vm">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">Job Info</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Enter Job #:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-sm-2 col-sm-offset-10">
                            <style scoped>
                                button {
                                    width: 100%;
                                }
                            </style>
                            <button type="button" class="btn btn-default">Go</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>