$navbarBackgroundHighlight : #ffffff;
$navbarBackground          : darken($navbarBackgroundHighlight, 5%);
$navbarBorder              : darken($navbarBackground, 12%);
$baseBorderRadius          : 4px;
$tableBackgroundAccent     : #f9f9f9;
$successText               : #468847;
$infoText                  : #3a87ad;
$grayLight                 : #999;