.wizard {
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  background-color: #f9f9f9;
  position: relative;
  min-height: 48px;
  overflow: hidden; }
  .wizard > .steps {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    width: 4000px; }
    .wizard > .steps ul {
      padding: 0 !important;
      margin: 0 !important;
      list-style-type: none; }
    .wizard > .steps.previous-disabled li.complete {
      cursor: default; }
      .wizard > .steps.previous-disabled li.complete:hover {
        background: #f3f4f5;
        color: #468847;
        cursor: default; }
        .wizard > .steps.previous-disabled li.complete:hover .chevron:before {
          border-left-color: #f3f4f5; }
    .wizard > .steps li {
      float: left;
      margin: 0;
      padding: 0 20px 0 30px;
      height: 46px;
      line-height: 46px;
      position: relative;
      background: #ededed;
      color: #999;
      font-size: 16px;
      cursor: not-allowed; }
      .wizard > .steps li .chevron {
        border: 24px solid transparent;
        border-left: 14px solid #d4d4d4;
        border-right: 0;
        display: block;
        position: absolute;
        right: -14px;
        top: 0;
        z-index: 1; }
      .wizard > .steps li .chevron:before {
        border: 24px solid transparent;
        border-left: 14px solid #ededed;
        border-right: 0;
        content: "";
        display: block;
        position: absolute;
        right: 1px;
        top: -24px; }
      .wizard > .steps li.complete {
        background: #f3f4f5;
        color: #468847; }
        .wizard > .steps li.complete:hover {
          background: #e7eff8;
          cursor: pointer; }
          .wizard > .steps li.complete:hover .chevron:before {
            border-left: 14px solid #e7eff8; }
        .wizard > .steps li.complete .chevron:before {
          border-left: 14px solid #f3f4f5; }
      .wizard > .steps li.active {
        background: #f1f6fc;
        color: #3a87ad;
        cursor: default; }
        .wizard > .steps li.active .chevron:before {
          border-left: 14px solid #f1f6fc; }
        .wizard > .steps li.active .badge {
          background-color: #3a87ad; }
      .wizard > .steps li .badge {
        margin-right: 8px; }
      .wizard > .steps li .badge-success {
        background-color: #468847; }
    .wizard > .steps li:first-child {
      border-radius: 4px 0 0 4px;
      padding-left: 20px; }
  .wizard > .actions {
    z-index: 1000;
    position: absolute;
    right: 0;
    line-height: 46px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
    background-color: #e5e5e5;
    border-left: 1px solid #d4d4d4; }
    .wizard > .actions a {
      line-height: 45px;
      font-size: 12px;
      margin-right: 8px; }
    .wizard > .actions .btn-prev[disabled] {
      cursor: not-allowed; }
    .wizard > .actions .btn-prev span {
      margin-right: 5px; }
    .wizard > .actions .btn-next[disabled] {
      cursor: not-allowed; }
    .wizard > .actions .btn-next span {
      margin-left: 5px; }
  .wizard.complete > .actions .glyphicon-arrow-right:before {
    display: none; }
  .wizard.complete > .actions .glyphicon-arrow-right {
    margin-left: 0; }

/*# sourceMappingURL=Site.css.map */